
p {
    margin: 0;
    padding: 0;
}
ul.pagination {
        margin-top: 15px;
    }
.container {
    border: 1px solid black;
    margin: 15px auto;
    padding: 15px;
   
    & a {
        text-decoration: underline;
        color: black;
    }
    & h1 {
        font-size: 30px;
    }
    & .date {
        text-align: right;
        font-size: 10px;
    }
    & .comment {
        font-size: 10px;
    }
    & article {
        margin: 15px;
    }
    & .form_connexion-button{
        margin: auto;
        padding: 0;

    }
}